.PostsContainerApp{
  /*width: ;display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto ;*/
  /*display:flex;
  flex-wrap:wrap;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: black;
  margin: auto;
}
.proba{
  background-color: black;
  padding: 1em;
  border-right: 2em ;
  margin-top: 6em;
  min-height: 100vh;
}
.nav-tabs{
    background-color:black;
    font-style: #07d9a4;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    border: none;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  
    background-color: black;
    color: #1C1C1C;
    font-weight: bold;
  }
  
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: black;
    color: #07d9a4;
    border: black ;
    border-bottom: 2px solid #07d9a4;
    font-weight: bold;

  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    background-color: black;
    color: #07d9a4;
    border: black ;
    border-bottom: 2px solid #07d9a4;
    font-weight: bold;

  }
   .addBtn {
    border-radius: 50em;
    height: 5em;
    width: 5em;
    background-color: #07d9a4;
  }
 
  .myTabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .buttonMenu{
    font-size: 1.5em;
    cursor: pointer;
    transition: all .25s linear;

  }
 
  a:hover > .controll{

      color: #07d9a4;

  }