.Post{
    width: 25em;
    margin: auto;
    margin-top: 2em;
    height: 20em;
    background-color: #1C1C1C;
    border-radius: 2em;
    /*flex:1 0 inherit;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   /* box-shadow: 20px 20px 50px grey;*/
}
.PostTitle{
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-size: 1.5em;
    color:white;
    
}
.details{
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-size: 0.8em;
    color:white;
}
.Content{
    margin-left: 1.5em;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}

.Icons{
    margin-right: 2em;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.Icon{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
.Checkbox{
    width: 1.5em;
    height: 1.5em;
   /* opacity: 0;*/
}
/*
.CustomCheckbox{
    background-color: white;
    border-style: solid;
    cursor: pointer;
    position: absolute;
    width: 2em;
    height: 2em;
}*/
@media screen and (max-width: 320px){
    .Post{
        width: 15em;
        margin-left: 2.5em;
    }
}
.btn{
    background-color: #07d9a4;
}